/* Global Styling */

label {
    font-weight: bold;
}

input {
    border: none !important;
}

input[type="file"] {
    background-color: #242526 !important;
    color: #dc9135 !important;
}

.event-list{
    max-height: 75vh;
    overflow-y:auto
}

.btn-custom {
    border: none !important;
}

.navbar form {
    display: flex !important;
  }