/* Global Styling */

/* Scroll bar */

*::-webkit-scrollbar {
  width: 0.75em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

/* Buttons */


.btn-custom {
    background-color: #ffb358 !important;
    color: #242526 !important;
    border: none !important;
  }

.btn-favs {
    background-color: #ff5e00 !important;
    color: #242526 !important;
    border: none !important;
  }

.btn-favs-active {
    background-color: #7b4923 !important;
    color: #242526 !important;
    border: none !important;
  }


label {
    font-weight: bold;
}


.cropper-container {
  position: relative;
  z-index: 0;
}


.event-list{
    max-height: 77.6vh;
    overflow-y:auto
}

.event-thumbnail {
    max-height: 100px;
    max-width: 100px;
    border: 2px solid #121212 !important;
  }

.event-card *{
    text-decoration: none;
}



.navbar form {
    display: flex !important;
  }

.h1 {
  font-size: 2rem !important;
}

.h2 {
  font-size: 1.5rem !important;
}

h1 {
  color: #dc9135;
}

.clickable:hover {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none !important;
}

.cropper-size {
  width: 55vw;
  height: 55vh;
}