/* Transition animation */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Set Dark Theme As The Default */
body {
background-color: #121212 !important;
  }
  
 .card,
 .navbar {
    background-color: #242526 !important;
  }
  
 .section-title,
 .navbar-nav .nav-link {
    color: #dc9135 !important;
  }
  

/* Light Theme */
.light-theme {
    background-color: #cbcbcb !important;
  }
  
  .light-theme .card,
  .light-theme .navbar {
    background-color: #d8d8d8 !important;
  }
  
  .light-theme .section-title,
  .light-theme .navbar-nav .nav-link {
    color: #dc9135 !important;
  }
  
  .light-theme p,
  .light-theme .card-title,
  .light-theme h1{
    color: #121212 !important; 
  }

  .light-theme .additional-info {
    background-color: #f6f6f6;
  }


  
  /* Dark Theme */
  .dark-theme {
    background-color: #121212 !important;
  }
  
  
  .dark-theme .card,
  .dark-theme .navbar {
    background-color: #242526 !important;
  }
  
  .dark-theme .section-title,
  .dark-theme .navbar-nav .nav-link{
    color: #dc9135 !important;
  }

  .dark-theme label,
  .dark-theme h3{
    color: #dc9135 !important;
  }

  .dark-theme input{
    background: #242526;
    color: #dc9135;
  }

  .dark-theme input:focus,
  .dark-theme textarea:focus,
  .dark-theme .form-control,
  .dark-theme .event-list {
    background: #242526;
    color: #dc9135;
    border: none;
  }

  .dark-theme p,
  .dark-theme .card-title,
  .dark-theme h1{
    color: #dc9135 !important; 
  }

  .dark-theme .additional-info {
    background-color: #4a4a4a;
  }

  .custom-modal-dark {
    color: #121212;
  }

  .custom-modal-header-dark {
    background-color: #242526;
    color: #dc9135 !important; 
  }
  
  .custom-modal-body-dark {
    background-color: #242526;
    color: #dc9135 !important; 
  }

  .custom-modal-footer-dark {
    background-color: #242526 !important;
    color: #dc9135 !important; 
  }

  .custom-modal-body-dark input,
  .custom-modal-body-dark input:focus,
  .custom-modal-body-dark select,
  .custom-modal-body-dark select:focus,
  .custom-modal-body-dark textarea,
  .custom-modal-body-dark textarea:focus,
  .custom-modal-body-dark input[type="file"]{
    background-color: #444648 !important;
    border: 1px solid #121212 !important;
    color: #dc9135;
  }
